* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.bgc-a {
  background-color: #f0e0b8;
}

.bgc-b {
  background: #f6f0e4;
}

.menu-bar-first {
  display: flex;
  align-items: center;
  padding: 10px 0;

}

.logo {
  width: 45%;

}

.logo img {
  height: 80px;
  border-radius: 50%;
}

.nav {
  display: flex;
  margin-left: auto;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  padding-right: 40px;
}

.nav li a {
  color: black;
  text-decoration: none;
}

.nav li a:hover {
  color: red;
}

.search-bar img {
  width: 25px;
}

.section-one {
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #726c54;
}

.first-col-2 {
  margin-left: auto;
  width: 50%;
}

.first-col-2 h1 {
  font-size: 70px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.first-col-2 p {
  font-size: 24px;
  padding-bottom: 25px;
}

.first-col-2 a {
  text-decoration: none;
}


.btn-btn {
  padding: 10px 60px;
  background: #726c54;
  color: white;
  border: none;
}

.btn-btn:hover {
  background: #6f7776;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
  text-align: center;
}

.row-two-a {
  text-align: center;
  padding: 20px 0;
  color: #6d7c78;
}

.row-two-a {
  padding: 5px 0;
}

.row-two-a p {
  width: 20%;
  margin: auto;
  text-align: center;
}

.row-two-c {
  height: 50px;
  background: #efe2b6;
}

/* third section */
.section-three {
  display: flex;
  margin-top: 40px;
}

.third-col-2 {
  color: #726c54;
  margin-left: auto;
  width: 50%;
}

.third-col-2 h2 {
  font-size: 45px;
}

.third-col-1 img {
  width: 275px;
  border: 2px solid beige;
  border-radius: 50%;
}

.third-col-2 p {
  padding: 20px 0;
  font-size: 24px;

}

.third-col-2 div {
  margin-top: 50px;
}

.third-col-2 a {
  text-decoration: none;

}

.team-one {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px;
  list-style-type: none;

}

.team-one li img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
}

.team-one li {
  text-decoration: none;
}

.fnames-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fnames-one h2 {
  margin-top: 15px;
  color: #848B79;
}

.fnames-one h4 {
  margin-top: 5px;
  color: #848B79;
}

.team-one {
  background: #f6f0e4;
}

/* new s */

.transform-section {
  padding: 86px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f6f0e4;
}

.transform-section h2 {
  color: #726c54;
  font-size: 45px;
}

.transform-section p {
  padding: 20px 0;
  font-size: 24px;
}

.btn-three {
  padding: 10px 60px;
  background: #726c54;
  color: white;
  border: none;
  text-decoration: none
}

.second-img img {
  width: 375px;
  border: 2px solid beige;
  border-radius: 50%;
}

.class-level>h1 {
  text-align: center;
  font-size: 50px;
  color: #726c54;
  padding-top: 4%;
}

.offers-dance {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 4%;
  text-align: center;
}

.basic-img>img {
  width: 70%;
}

.basic-img>h2 {

  color: #726c54;
}

.basic-img>h3 {

  padding-top: 3%;
  color: #726c54;
}

.basic-img>h4 {
  margin-top: 5%;
  margin-left: 9%;
  color: #726c54;
}

.btn-three {
  width: 220px;
  background-color: #726c54;
  padding: 10px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 3px;
  margin-left: 5%;
}

.dance-img>img {
  width: 70%;
}

.dance-img>h2 {
  color: #726c54;
}

.dance-img>h3 {
  padding-top: 3%;
  color: #726c54;
}

.dance-img>h4 {
  margin-top: 5%;
  margin-left: 9%;
  color: #726c54;
}

.professional-img>img {
  width: 70%;
}

.professional-img>h2 {
  margin-left: 5%;
  color: #726c54;
}

.professional-img>h3 {
  padding-top: 3%;
  color: #726c54;
}

.professional-img>h4 {
  margin-top: 5%;
  margin-left: 9%;
  color: #726c54;
}

.container {
  position: relative;
  text-align: center;
  background: url(media/last1.jpg) center center no-repeat;
  padding: 200px 0;
  background-size: cover;
  text-align: center;
}

.bottom-left {
  color: whitesmoke;
  font-size: 25px;
  font-weight: 600;
}

.container h3 {
  color: whitesmoke;
}

.dance-fun {
  background-color: #efe2b6;
  padding-top: 40px;
}

.dance-fun>h1 {
  margin-left: 40%;
  font-size: 33px;

}

.dance-fun>p {
  margin-left: 38%;
  margin-top: 20px;
  color: #726c54;
}

.dance-fun>input {
  margin-left: 38%;
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  margin-top: 3%;
}

.btn-sub {
  padding: 10px;
}

.last-para {
  margin-left: 35%;
}


/* new-v */
.bg-1 {
  background-color: #f0e0b8;
}

.bg-2 {
  background: whitesmoke;
}

.second-row-1 {
  text-align: center;
  padding: 20px 0;
  color: #726c54;
}

.second-row-1 h1 {
  padding: 5px 0;
}

.second-row-1 p {
  width: 80%;
  margin: auto;
}

.grid div {
  width: 33.33%;
  padding: 0 30px;
}

.grid img {
  width: 200px;
}

.grid h3 {
  color: rgba(116, 112, 87, 255);
}

.center-1 {
  border-right: 4px dashed #726c54;
  padding-right: 10%;
  margin: 20px 0;
}

.center-1 h2,
.center-2 h2,
.center-3 h2 {
  color: #726c54;
  font-size: 50px;
}

.center-1 p,
.center-2 p,
.center-3 p {
  color: #726c54;
  font-size: 24px;
}

.center-2 {
  margin: 20px 0;
}

.center-3 {
  border-left: 4px dashed #726c54;
  padding-left: 10%;
  margin: 20px 0;
}

.second-row-3 {
  height: 50px;
  background: #efe2b6;
}

.bg-3 {
  background: #24262b;
}

.footer-section {
  display: flex;
  color: white;
  padding: 40px 0;
}

.footer-section a {
  text-decoration: none;
  color: white;
}

.footer-section li a:hover {
  color: rgb(144, 146, 102);
}

.footer-col-1 {
  width: 40%;
}

.footer-col-1 p {
  padding: 20px 0;
}

.footer-col-1 img {
  width: 70px;
}

.social-icons img {
  width: 40px;
  padding-left: 5px;
}

.social-icons a:hover img {
  padding-left: 6px;
  transition: all 0.3s ease;
}

.footer-col-2 {
  margin-left: auto;
}

.footer-col-2>ul {
  display: flex;
}

.footer-col-2 ul {
  list-style: none;
}

.footer-col-2>ul>li {
  padding: 0 35px;
  font-size: 24px;
}

.footer-col-2 ul ul {
  padding-top: 20px;
}

.footer-col-2>ul>li>ul li {
  padding: 5px 0;
  font-size: 16px;
}